body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.ctn-principal{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
/*Menu
--------------------------*/
nav {
    position: relative;
    left:0;
    top:0;
    width: 100%;
    background-color: #333;
    height: auto;/* alterações Yves: auto*/
    margin: 0;
}
            
nav ul#menu-desktop {
    display: none;
}
            
nav ul#menu-mobile {
    margin: 0 0 0 5%;
    padding: 0;                 
    display: none;   
}
            
nav ul#menu-mobile li {
    width:20%;
    list-style-type:none;
    display: block;
} 
            
nav ul#menu-mobile li a {
    width: 20%;
    min-width: 200px;
    padding: 20px 0;
    text-decoration: none;
    background-color: rgba(213,26,44,0.3);
    color:#FFF;
    display:block;
    margin-right: 0;
    font-family: Roboto, sans-serif;
    font-size: 80%;
    letter-spacing: 0.60;
    text-align: center;
    border-bottom: 1px solid #111;
} 
            
nav div#menu-btn {
    position:absolute;
    cursor: pointer;
    display: block;
    top:20px;
    left:20px;
    height: 30px;
    width: 30px;
}
/* alterações Yves: menu secundário*/ 
.menu2{
    margin-left: 15%;
    margin-right: auto;
}
.menu2 a{
    color:white;
}
.menu2 li{
    font-size: 3em;
    display: inline-block;
    text-decoration: none;
    list-style: none;
}
/*contatos e cadastro*/
#contato{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgb(206, 212, 212), #928a80);
}

.conteiner-ctt{
    width: 50%;
    min-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#contato2{
    height: auto;
    background: linear-gradient(to bottom,rgb(206, 212, 212), #928a80);
}

.conteiner-ctt2{
    width: 50%;
    min-width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.conteiner-ctt img,
.conteiner-ctt2 img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.conteiner-ctt input,
.conteiner-ctt2 input{
    height: 40px;
    width: 90%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 0px;
}

.conteiner-ctt textarea,
.conteiner-ctt2 textarea{
    width: 90%;
    height: 150px;
    font-size: 18px;
    margin-bottom: 10px;
}

#enviar input{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 5px 20px;
    height: 40px;
    width: 45%;
    background:linear-gradient(to bottom,#faa600, #f68a00);
}

.conteiner-ctt #nascimento{
    height: 40px;
    width: 60%;
    margin: 0;
    background-color: #fff;
    padding-left: 0px;
}
.conteiner-ctt #nascimentoL{
    display: inline-block;
    height: 40px;
    width: 30%;
    font-size: 18px;
    padding-left: 0px;
    background-color: white;
}

.conteiner-ctt h4{
    text-align: left;
    text-indent: 5%;
    margin: 0 0 5px 0;
}

.conteiner-ctt #estado-civil input, 
.conteiner-ctt #sexo input{
    width: 5%;
    height: 20px;
    margin-left: 10%;
}
.conteiner-ctt #estado-civil,
.conteiner-ctt #sexo{
    color: gray;
    text-align: left;
    margin: 0 0 10px 5%;
    background-color: #fff;
    width: 90%;
    border: 3px hidden black;
}
/*alterações Yves: mudei o posicionamento e dimencionamento da logo*/ 
#logo {
    height: 100%;
    position: relative;
    left: 30%;
    top: 0;
    z-index: 1;
}
            
#logo img {
    width:40%;
}

/*alterações Yves: tudo até o final das alterações*/
/*Noticias principais - home*/

.ctn-noticiasPrincipais{
    overflow: hidden;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./imagens/fundo.png);
    height: auto;
}

#ctn-artigos{
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: 5% 5% 5% 15%;
    background-color: white;
    border-radius: 1%;
    padding-top: 1%;
}
.ntcs-artigos{
    width: 99%;
    border-bottom: 1px solid grey;
    padding-bottom: 3%;
    margin:0% 0% 2% 0%;
    overflow: hidden;
    clear: both;
}
.home-img{
    width: 20%;
    float: left;
}
.home-text{
    width: 80%;
    float: right;
    overflow: hidden;
}
a{
   color: black;
}
a:link{
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #00008B;
    cursor: pointer;
}

.ctn-noticiasPrincipais img{
    width: 100%;
    height: auto;
}
.ctn-noticiasPrincipais p{
    font-size: 1em;
    font-style: italic;
    margin-left: 2%;
}
.ctn-noticiasPrincipais h3{
    margin-left: 2%;
    font-size:1em;
    color: black;
    font-weight: bold;
}

/*configuranção das pagina de leitura*/

#principal-ntc{
    overflow: hidden;
    background-image: url(./imagens/fundo.png);
}
#leitura{
    background-color: white;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5% 5% 5% 15%;
    border-radius: 1%;
}
#leitura h1{
    padding: 0.2% 0.2% 2% 0.2%;
}
#leitura h4{
    font-weight: normal;
    font-style: italic;
    text-indent: 30px;
    font-size: 1em;
    padding: 0.2% 0.2% 1% 0.2%;
}
#leitura h3{
    padding: 0.2% 0.2% 2% 0.2%;
}
#leitura p{
    padding: 0.2%;
    font-size: 1em;
    text-indent: 3%;
}
#leitura section{
    padding: 2%;
}
#leitura blockquote{
    font-size: 0.8em;
    font-style: italic;
}
a blockquote{
    text-decoration: none;
}
a blockquote:visited{
    color: grey;
}
#leitura li{
    list-style: upper-roman;
    margin: 0px 0px 0px 3%;
    font-size: 1em;
}
#leitura img{
    padding:0px;
    margin: 2% 3% 2% 0%;
    width: 50%;
    max-width: 100%;
    height: auto;
    float: left;
}
#artigoacad{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
#artigoacad h1, h3{
    padding: 0.2% 0.2% 1% 0.2%;
}
#artigoacad h4{
    font-style: italic;
}

/* final das alterações Yves: tudo até aqui*/  

/*rodape*/
/* alterações Yves: mudei a cor do footer*/  
footer{
    height: 100%;
    background-color:  #333;
    padding: 10px;
}
/*final das alterações Yves: mudei a cor do footer*/ 
#fot2{
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}
a:link{
    color: white;
}
#pfot{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icones{
    width: 25px;
}
/*alterações Yves: tirei algumas coisas (outro-ntc, etc) e dimensionei os textos e imagens*/ 
/*Configurando para Mobile*/
@media only screen and (min-width:200px) and (max-width:700px) {
    /*Noticias principais*/
    .ctn-noticiasPrincipais{
        background-image: url(./imagens/fundo.png);
        height: auto;
        margin: 0px 0px 10px 0px;
    }

    #ctn-artigos{
        text-align: justify;
        font-size: 0.7em;
    }

    .home-img{
        width: 80%;
        padding: 0 10% 0 10%;
    }
    .home-text{
        text-indent: 10%;
        width: 80%;
        padding: 0 10% 0 10%;
    }
    .menu2 li{
        font-size: 1.5em;
    }
        
    /*rodape-Mobile*/
    footer{
        clear: both;
        background-color: grey;
        padding: 10px;
    }

    #artigo #outras-ntc{
        display: none;
    }

    #artigo #leitura{
        width: 70%;
        margin: 5% 5% 5% 15%;
    }
}
/* final das alterações Yves*/ 


                       

